@charset "UTF-8";

/*Base
*****************************************/
html {
  font-size: 100%;
}
body {
  font-family: "Helvetica Neue", "Helvetica", "Hiragino Sans",
    "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif;
  line-height: 1.7;
  color: #009688;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #00796b;
}
p {
  font-family: "Times New Roman", "YuMincho", "Hiragino Mincho ProN",
    "Yu Mincho", "MS PMincho", serif;
}
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
}

/*Layout
*****************************************/
/* [class*="l-"] {
  outline: 1px solid red;
} */
.l-header {
  position: fixed;
  width: 100%;
  height: 45px;
  display: flex;
}
.l-main {
}
.l-top {
  height: 100vh;
}
.l-profile {
  width: 98%;
  margin: 8px auto 4px;
}
.l-skill {
  width: 98%;
  margin: 0 auto 4px;
}
.l-work {
  width: 98%;
  margin: 0 auto;
}
.l-footer {
  height: 45px;
}

/*Module
*****************************************/
/*headerブロック*/
[id="header"] {
  background-color: #00796b;
}
.header__logo {
  margin-left: 5px;
  line-height: 45px;
  font-size: 1.25rem;
}
.header__logo-anchor {
  vertical-align: top;
  font-size: inherit;
  color: #ffffff;
}
.header__nav {
  top: 0;
  right: 40px;
  position: absolute;
}
.header__nav-botton {
  position: absolute;
  width: 40px;
  height: 45px;
  padding-top: 5px;
  background-color: #ffc107;
  text-align: center;
  cursor: pointer;
}
.header__nav-botton-line {
  position: relative;
  width: 20px;
  height: 20px;
  margin: 0 auto;
}
.header__nav-botton-line-top {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  border-top: 3px solid #ffffff;
  transform-origin: 0px 0px;
  transition-duration: 300ms;
  transform: skewY(0deg);
}
.header__nav-botton-line-top.--active {
  transform: skewY(45deg);
}
.header__nav-botton-line-center {
  position: absolute;
  top: 10px;
  left: 0;
  width: 100%;
  border-top: 3px solid #ffffff;
  transition-duration: 300ms;
  transition-property: width;
}
.header__nav-botton-line-center.--active {
  width: 0%;
}
.header__nav-botton-line-bottom {
  position: absolute;
  top: 20px;
  left: 0;
  width: 100%;
  border-top: 3px solid #ffffff;
  transform-origin: 0px 20px;
  transition-duration: 300ms;
  transform: skewY(0deg);
}
.header__nav-botton-line-bottom.--active {
  transform: skewY(-45deg);
}
.header__nav-botton-text {
  margin-top: 6px;
  color: #ffffff;
  font-size: 9px;
  font-weight: bolder;
}
.header__nav-list {
  height: 0;
  overflow: hidden;
  background-color: #ffc107;
  position: absolute;
  top: 45px;
  right: -40px;
  width: 100px;
  padding-left: 10px;
  transition-duration: 300ms;
}
.header__nav-list.--open {
  height: 90px;
}
.header__nav-list-item {
  height: 30px;
  width: 80px;
}
.header__nav-list-item + .header__nav-list-item {
  border-top: 2px solid #ffffff;
}
.header__nav-list-item-anchor {
  display: inline-block;
  color: #ffffff;
  font-weight: bolder;
  line-height: 30px;
  width: 100%;
  height: 100%;
}
.header__nav-list-item-anchor:hover {
  color: #947006;
}
/*mainブロック*/
[id="main"] {
  padding-bottom: 32px;
  background-color: #009688;
}
/*topブロック*/
[id="top"] {
  padding: 65vh 0 0 0;
  text-align: center;
  background-image: url(../img/top_bg.jpg);
  background-size: cover;
  background-position: center;
}
.top__title {
  font-size: 2rem;
  color: #ffffff;
}
.top__text {
  font-size: 1.5rem;
  color: #ffffff;
}
/*profileブロック*/
[id="profile"] {
  padding: 1rem;
  background-color: #ffffff;
}
.profile__title {
  text-align: center;
  font-size: 1.8rem;
  font-weight: bold;
}
.profile__photo {
  text-align: center;
}
.profile__photo-img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.profile__text {
  font-size: 1rem;
}
/*skillブロック*/
[id="skill"] {
  padding: 1rem;
  background-color: #ffffff;
}
.skill__title {
  text-align: center;
  font-size: 1.8rem;
  font-weight: bold;
}
.skill__category {
  margin-top: 1rem;
}
.skill__category-title {
  font-size: 1.5rem;
  font-weight: bold;
  padding-left: 0.5rem;
  border-left: 6px solid #00796b;
  border-bottom: 1px solid #00796b;
  margin-bottom: 0.5rem;
}
.skill__category-list {
}
.skill__category-list-item {
  font-size: 1.25rem;
  font-weight: bolder;
  color: #00796b;
}
.skill__book-list {
}
.skill__book-list-item {
  margin-left: 1rem;
  font-size: 1rem;
  font-weight: normal;
  color: #009688;
}
.skill__book-list-item::before {
  content: "";
  display: inline-block;
  width: 1rem;
  height: 1rem;
  background-image: url(../img/book_icon.svg);
  background-size: contain;
}
.skill__qualification-list {
}
.skill__qualification-list-item {
  margin-left: 1rem;
  font-size: 1rem;
  font-weight: normal;
}
.skill__qualification-list-item::before {
  content: "";
  display: inline-block;
  width: 1rem;
  height: 1rem;
  background-image: url(../img/qualification_icon.svg);
  background-size: contain;
}
/*workブロック*/
[id="work"] {
  padding: 1rem;
  background-color: #ffffff;
}
.work__title {
  text-align: center;
  font-size: 1.8rem;
  font-weight: bold;
}
/*footerブロック*/
[id="footer"] {
  background-color: #00796b;
  text-align: center;
}
.footer__text {
  line-height: 45px;
  font-size: 0.9rem;
  color: #ffffff;
}

@media screen and (min-width: 560px) {
  /*Layout
*****************************************/
  .l-profile {
    width: 100%;
    margin: 8px auto 0;
  }
  .l-skill {
    width: 100%;
    margin: 8px auto 4px;
  }
  .l-work {
    width: 100%;
    margin: 0 auto;
  }

  /*Module
*****************************************/
  /*headerブロック*/
  .header__nav {
    top: 0;
    right: 0;
    position: absolute;
  }
  .header__nav-botton {
    display: none;
  }
  .header__nav-list {
    display: flex;
    height: auto;
    overflow: hidden;
    background-color: #ffc107;
    position: static;
    width: auto;
    padding-left: 0;
    transition: none;
  }
  .header__nav-list-item {
    height: 45px;
    width: 80px;
    text-align: center;
    line-height: 45px;
  }
  .header__nav-list-item + .header__nav-list-item {
    border: none;
  }
  .header__nav-list-item-anchor {
    color: #ffffff;
    font-weight: bolder;
    line-height: 30px;
  }
  /*mainブロック*/
  .main__wrap-outer {
    display: flex;
    justify-content: space-between;
    width: 98%;
    max-width: 960px;
    margin: 0 auto;
  }
  .main__wrap-inner-1 {
    width: 29%;
    order: 2;
  }
  .main__wrap-inner-2 {
    width: 70%;
    order: 1;
  }
}
